/* .nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: #fff;
} */

.nav-bar ul {
  display: flex;
  gap: 10px;
}
.nav-bar ul li {
  padding: 6px 10px;
  list-style: none;
}

.nav-bar a {
  padding: 6px 10px;
  text-decoration: none;
  color: #fff;
}
